.card {
text-align: center;
padding: 20px;
background-color: #333333;
color: white;
border: 1px solid white;
max-width: 300px;
justify-self: center;

&:hover {
transition: 0.15s ease-in-out;
transform: scale(1.05);
box-shadow: 5px 5px 25px rgba(209, 70, 70, 0.8);
border: 1px solid red;
}

.product-info {
display: flex;
text-align: center;
justify-content: center;
gap: 16px;
}

.check,
.product-price {
color: rgb(25, 139, 25);
font-weight: 600;
}

.remove-from-cart:hover {
transition: 0.2s ease-in-out;
color: red;
background-color: white;
}

.x {
color: rgb(206, 72, 72);
}

.spicy-container {
display: flex;
justify-content: center;
gap: 2px;
margin-bottom: 1rem;
}

.fire-icon {
color: hsl(39, 100%, 50%) !important;
}

}
