.cards {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 24px;
margin: 5rem 1.5rem;
}

.couldnt-match {
padding: 1rem;
justify-self: center;
text-align: center;
grid-column: 1 / -1;
}
